[submodule "cocos2d"]
	path = cocos2d
	url = https://github.com/cocos2d/cocos2d-x.git
[submodule "Resources"]
	path = Resources
	url = git@github.com:aokht/FlightAssets.git
[submodule "contrib/MultipeerConnectivityCpp"]
	path = contrib/MultipeerConnectivityCpp
	url = https://github.com/MakeSchool/MultipeerConnectivityCpp.git
